@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    transition: 0.5s;
}

body{
    background-color: #141c2f;
}

body.lightmode{
    background-color: #f5f8ff;
}

body.lightmode .heading, body.lightmode .light-text ,body.lightmode .search-input , body.lightmode .name , body.lightmode .date , body.lightmode .bio ,body.lightmode .twitter-link ,body.lightmode .atGit-value ,body.lightmode .location-value ,body.lightmode .github-url ,body.lightmode .repo,body.lightmode .followers ,body.lightmode .following ,body.lightmode .repo-value ,body.lightmode .followers-value ,body.lightmode .following-value{
    color: #3a3a3a;
}

body.lightmode .topBar img , body.lightmode .data img{
    filter: invert(1);
}

body.lightmode .searchBar , body.lightmode .hero{
    background-color: #fcfffe;
    box-shadow: 0px 0px 20px rgb(166, 166, 166);
}

body.lightmode .RFF{
    background-color: #d2d2d2;
}

.topBar{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    /* border: 1px solid white; */
    margin: 5vw auto 2vw auto;
}

.heading{
    color: white;
    font-family: 'Poppins';
    font-size: 1.4vw;
    margin: 0vw 0vw 0vw 0vw;
}

.light-text{
    color: white;
    margin: 0.5vw 0vw 0vw 35vw;
    font-family: 'IBM Plex Mono';
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 0.8vw;
    cursor: pointer;
}

.topBar img{
    width: 1.2vw;
    height: 1.2vw;
    margin: 0.5vw 0vw 0vw 1vw;
    cursor: pointer;
}

.searchBar{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: 0vw auto 2vw auto;
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: #1f2a48;
}

.search-logo{
    width: 2vw ;
    height: 2vw;
    margin: 1.3vw 1.5vw 1vw 2vw;
}

.search-input{
    border: none;
    font-family: 'IBM Plex Mono';
    background-color: transparent;
    color: white;
    width: 31.3vw;
    font-size: 1vw;
}

.search-input:focus::placeholder{
    color: transparent;
}

.search-input:focus{
    outline: none;
}

.searchButton{
    border: none;
    background-color: #0079fe;
    border-radius: 10px;
    margin: 0.7vw 0.7vw 0.7vw 2vw;
    cursor: pointer;
    transform: scale(0.9,0.9);
    font-size: 1vw;
    transition: all 0.3s;
}

.searchButton p{
    color: white;
    margin: 1vw 2vw 1vw 2vw;
    font-family: 'IBM Plex Mono';
    font-weight: 800;
}

.searchButton:hover{
    outline: 1px solid white;
}

.searchButton:active{
    transform: scale(0.8,0.8);
}

.hero{
    display: flex;
    flex-direction: row;
    width: 48vw;
    height: fit-content;
    border-radius: 10px;
    /* border: 1px solid white; */
    margin: 0vw auto 0vw auto;
    background-color: #1f2a48;

}

.profilePic{
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 150px;
    margin: 3vw 1vw 0vw 3vw;
    border: 1px solid white;
}

.details{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 1vw 0vw 2vw 2vw;
}

.name-and-date{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}

.name{
    font-family: 'IBM Plex Mono';
    color: white;
    font-size: 1.5vw;
    font-weight: 800;
    margin-bottom: 0vw;
    width: 20vw;
    word-wrap: break-word;
}

.date{
    color: white;
    font-family: 'IBM Plex Mono';
    margin: 1.8vw 0vw 0vw 2.5vw;
    font-size: 1vw;
    width: 10vw;
    word-wrap: break-word;
}

.at{
    color: white;
    font-family: 'IBM Plex Mono';
    color: #0079fe;
    font-size: 1vw;
}

.bio{
    color: white;
    margin-bottom: 2vw;
    font-family: 'IBM Plex Mono';
    font-size: 1vw;
}

.RFF{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: #141c2f;
    margin-right: 4vw;
    margin-bottom: 1vw;
    font-size: 1vw;
}

.repo, .followers , .following{
    color: white;
    font-family: 'IBM Plex Mono';
    font-size: 600;
    margin: 1vw 2.6vw 1vw 3vw;
}

.repo-text, .followers-text , .following-text{
    margin: 0vw 0vw 0vw 0vw;
}

.repo-value , .followers-value , .following-value{
    color: white;
    font-family: 'VT323';
    font-size: 2vw;
    margin: 0vw 0vw 0vw 0vw;
}

.data{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-top: 1vw;
    font-size: 1vw;
}

.row{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'IBM Plex Mono';
}

.twitter , .atGitHub , .location , .github{
    display: flex;
    flex-direction: row;
    margin-bottom: 1vw;
}

.twitter-link , .atGit-value , .location-value , .github-url{
    margin: 0vw 0vw 0vw 0vw;
    width: 13vw;
    word-wrap: break-word;
}

.twitter{
    margin-left: 2vw;
}

.atGitHub{
    margin-left: 2vw;
}

.data img{
    width: 1.3vw;
    height: 1.3vw;
    margin: 0vw 1vw 0vw 0vw;
}


